.event_banner{
	padding-top: 30px;
}
.page-title{
	display: none;
	/*margin: auto;*/
	margin-top: 100px;
	width: 100%;
	text-align: center;
	height: 5vh;
}
#title{
	color: #e14eca;
	margin: 0;
}
.rule-heading{
	padding-top: 0;
}
.collapse-box{
	margin-top: 10px;
	margin-bottom: 0;
}
#headingOne,#headingTwo{
	padding:0;
}
.bw{
	width: 100%;
	text-align: left;
}
.btn-color{
	color:#1d8cf8;
	transition: margin-left .5s;
	font-weight: 400;
	width: 100%;
}

.btn-color:hover{
	margin-left: .5em;
}

.r-body{
	font-weight: 300;
	color: lightgrey;
}
.collapse-icon{
	text-align: right;
}
@media (max-width: 786px)
{
	.order1{
		order: 1;
	}
	.order2{
		order: 2;
	}
	.order3{
		order: 3;
	}
	.page-title{
		display: inline-block;
	}
	#first-div{
		padding-top: 5vh;
	}

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}