body{
	background-color:#011638;
}
.logo{
	width: 30px;
	height: 30px;
	overflow: hidden;
}
.logo_text{
	
}
.highlight{
	color: #ed254e;
	border-color: #ed254e;
}
.highlight1{
	color: #25ced1;
	border-color: #25ced1;
}
.highlight:hover{
	background-color: #ed254e !important;
	color:#ffffff;
}
.highlight:active{
	color : #ffffff;
	background-color: transparent;
}
.highlight1:hover{
	background-color: #25ced1 !important;
	color:#ffffff;
}
.highlight1:active{
	color : #ffffff;
	background-color: transparent;
}
.clr{
	background-color: #0d3c79;
	/*background-color:#1d8cf8;*/
	/*background-color:#25ced1;*/
}
#rule{
	margin-top: 80px;
	padding-left: 15px;
	margin-bottom: 20px;
}
#faq{
	margin-top: 80px;
	padding-left: 15px;
	margin-bottom: 20px;

}
#contact{
	margin-top: 80px;
	padding-left: 15px;
	margin-bottom: 20px;
}
#footer{
	background: #011638;
}
.cnt{
	display: inline-block;
	margin-left: 10px;
	
	color: white !important;
	font-weight: 300 !important;
	font-size: 15px !important;
	width: 20% ;
}
.nmb{
	color: white !important;
	font-weight: 300 !important;
	font-size: 15px !important;
}
.rule-content{
	padding-left : 15px;
	padding-right: 15px;
}
.line-content{
	margin-bottom: 10px;
}
.event_banner{
	padding-top: 30px;
	width: 100%;
}
.page-title{
	display: none;
	/*margin: auto;*/
	margin-top: 100px;
	width: 100%;
	text-align: center;
	height: 5vh;
}
.pd1{
	margin-bottom: 20px;
}
.heading{
	font-size: 18px;
	color: #25ced1;
}
.rule-text{
	font-size: 15px;
	color: white;
	margin-bottom: 30px;
}
.rule-text-in{
	font-size: 15px;
	color: white;
	margin-bottom: 15px;
}
.faq-text{
	font-size: 15px;
	margin-bottom: 30px;
}
#title{
	color: #e14eca;
	margin: 0;
}
.rule-heading{
	padding-top: 0;
}
.faq-heading{
	margin-bottom: 5px;
	font-weight: 500;
	text-transform: none !important;
}
.collapse-box{
	margin-top: 10px;
	margin-bottom: 0;
}
#headingOne,#headingTwo{
	padding:0;
}
.bw{
	width: 100%;
	text-align: left;
}
.btn-color{
	color:#1d8cf8;
	transition: margin-left .5s;
	font-weight: 400;
	width: 100%;
}

.btn-color:hover{
	margin-left: .5em;
	background-color: #1d8cf8;
}

.r-body{
	font-weight: 300;
	color: lightgrey;
}
.collapse-icon{
	text-align: right;
}
#first-div{
	padding-top: 20vh;
}
#navigation{
	background-color: #182f57;
}
.social-icon {
  margin: 20px 0 20px 10px;
  color: #ffffff;
  font-size: 1rem;
}
.amn{
	/*border-bottom: 1px dashed #FFFFFF;*/
	/*color: #ed254e;*/
	font-weight: 600;
}



.social {
  background-color: #26547C;
  color: #fff;
  text-align: center;
}

.copyright {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.special{
	font-weight: 500;
}
@media (max-width: 786px)
{
	.social-icon {
    font-size: 1rem;
  	}
	.copyright {
    font-size: 1rem;
  	}
	.order1{
		order: 1;
	}
	.order2{
		order: 2;
	}
	.order3{
		order: 3;
	}
	.page-title{
		display: inline-block;
	}
	#first-div{
		padding-top: 10vh;
	}
	.regbtnwrapper{
	/*width: 100%;*/
	/*padding-left: 50%;*/
	text-align: center;
	}
	.regbtn{
		width: 100%;
		/*padding : 10px 40%;*/
		text-align: center;
	}
	.cnt{
		width: 30%;
	}

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}