@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap&text=0123456789:");

.countdown {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: row;
  height: 30vh;
  font-family: Century Gothic, Lucida Grande;
  /* background-color: #202629; */
  margin: 0;
}
.countdown span,
.countdown h1 {
  color: #2799ff;
  font-size: 10vw;
}
.countdown .day,
.countdown .hour,
.countdown .min,
.countdown .sec {
  padding: 1vw 2vw;
  padding: 0;
  text-align: center;
}
.countdown .day .num,
.countdown .hour .num,
.countdown .min .num,
.countdown .sec .num {
  display: block;
  font-size: 8vw;
  line-height: 1em;
  font-family: "PT Mono";
}
.countdown .day .word,
.countdown .hour .word,
.countdown .min .word,
.countdown .sec .word {
  display: block;
  font-size: 2vw;
  color: #8a99ab;
}
.countdown .separator {
  color: #2799ff;
  font-size: 8vw;
  line-height: 0.9;
  font-family: "PT Mono";
}